* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(90deg, #94c8f6, #d19bd4);
}

.container {
  width: 350px;
  margin: 0 auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.container h2 {
  text-align: center;
  margin-bottom: 30px;
  background-image: linear-gradient(90deg, #207cca, #9f58a3);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container input {
  margin-bottom: 15px;
}

.container input[type=text],
input[type=number],
input[type=date],
input[type=password],
input[type=tel] {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
  cursor: pointer;
  color: rgb(43, 43, 43);
  border: none;
  margin-bottom: 10px;
}

.container input:focus {
  outline: 1px solid #207cca;
}

.container button[type=submit] {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  background: -webkit-linear-gradient(left, #207cca 0%, #9f58a3 100%);
  cursor: pointer;
}

.container button[type=button].goback {
  display: block;
  margin: 20px auto 0;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  background: rgb(130, 130, 130);
  cursor: pointer;
}

.container button[type=button].goback:active {
  transform: scale(.95);
}

.container button[type=submit]:active {
  transform: scale(.95);
}

.container small {
  color: #9f58a3;
  display: block;
  padding-left: 5px;
  margin-top: -10px;
  margin-bottom: 5px;
}

label {
  color: #207cca;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  padding-left: 5px;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-container {
  display: flex;
  width: 282px;
}

.eye-logo {
  width: 18px;
  height: 18px;
}

.password-toggle {
  border: none;
  padding: 6px 8px;
  height: 35px;
  width: 35px;
  background-image: linear-gradient(90deg, #207cca, #9f58a3);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.password-toggle:active {
  transform: scale(.90);
}

.info-container h4 {
  display: block;
  padding: 6px 16px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
  color: rgb(85, 85, 85);
  border: 1px solid rgb(200, 200, 200);
  margin-bottom: 10px;
  border-radius: 10px;
}